source https://api.nuget.org/v3/index.json

storage: none
framework: net6.0, netstandard2.0

nuget System.Text.Json
nuget FSharp.Core ~> 6
nuget Microsoft.NET.Test.Sdk
nuget xunit
nuget xunit.runner.visualstudio
